:root{
--dominant-color: #ee5253;
--compliment-color: #0abde3;
--supli-color: #fff;
/* #ee5253 */
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



body,
html{
	font-family: 'Lato', sans-serif;
font-size: 16px;
line-height: 140%;
text-rendering: optimizeLegibility;
background-color: #ffffff;
color: #000;
overflow: hidden;
font-weight: 300;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	color: var(--dominant-color);
}

header,section,footer,nav {display: block;}

/* ----reuseable code---- */

.row{
width: 1140px;
margin: 0 auto;
}

section{
	padding: 80px 0;
}

.clearfix{
    display: table;
    content: " ";
    clear: both;
    height: 0;
	visibility: hidden;
	
}

/* ----hearder---- */
header{
	/* background-image: -webkit-linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) url(../images/bg.jpeg);

	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)) url(../images/bg.jpeg); */
	/* background-size: cover; */

	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bg.jpeg);
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/bg.jpeg);
	
	background-position: center;
	background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    /* background-position: center; */
    position: relative;
    overflow: hidden;
	height: 100vh;
	width: 100vw;
    background-repeat: no-repeat;
	}


.nav-header{
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100vw;
	 display: block;
	 height: 80px;
	 z-index: 9999;
}

.logo{
float: left;
margin-top: 10px;
}

.logo span{
	color: #fff;
	background-color: var(--dominant-color);
	padding: 0 5px;
	border-radius: 3px 	;
	-webkit-border-radius: 3px 	;
	-moz-border-radius: 3px 	;
	-ms-border-radius: 3px 	;
	-o-border-radius: 3px 	;
}

.main{
float: right;
margin-top: 30px;
}

.main ul{
	list-style: none;
	text-decoration: none;
	
}

.main ul li{
	display: inline-block;
margin-left: 10px;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;

}

.main ul li:nth-child(1){
	margin-left: 0px;
	}

.main ul li a{
text-decoration: none;
color: var(--dominant-color);
}

.main ul li a:hover{
	color: var(--supli-color);
	}



	/* -----------banner content-------- */
.banner-content{
    position: absolute;
    width: 1140px;
    top: 30%;
    left: 60%;
    /* transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%); */
	
}

.banner-content h1{
    color: #fff;
    font-weight: 600;
    font-size: 250%;
	margin-bottom: 5px;
	line-height: 145%;
font-style: italic;
}


/* ---------button--------- */
.btn{
    border: 2px solid var(--dominant-color);
    display: inline-block;
    font-size: 15px;
    text-align: center;
    padding: 10px 10px;
    margin-top: 10px;
    font-weight: 550;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: var(--dominant-color);
    cursor: pointer;
    transition: background-color 2s ease-out;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -ms-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    color: rgb(255, 255, 255);
}

.button a{
    text-decoration: none;
    text-transform: uppercase;
}
.btn:hover{
    color: #d67424;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid var(--dominant-color);
    transform: scale(1);
}





	